
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div class="row">
        <div class="col-12">
            <h1>Erişim Reddedildi.</h1>
        </div>
    </div>
</body>
</html>
