@model CoreDemo.Controllers.Class1

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Api ile Personel Güncelleme Sayfası</h1>

<form method="post">
    <div class="form-control">
        <label class="form-label">Id</label>
        @Html.TextBoxFor(x=>x.ID, new{@class="form-control"})
    </div>
    <div class="form-control">
        <label class="form-label">Personel</label>
        @Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
    </div>
    <button type="submit" class="btn btn-outline-success">Güncelle</button>
</form>